.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    background:#2563eb;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
    color:white;
    font-size:24px;
    font-weight:bold;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:35px;
    margin:0;
    padding:0;
}

.navbar ul li a{
    text-decoration:none;
    color:white;          /* Makes Home, Features, About white */
    font-size:18px;
    font-weight:600;
    transition:0.3s;
}

.navbar ul li a:hover{
    color:#FFD700;        /* Golden on hover */
}