.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:1000;

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:24px;

font-weight:700;

color:#2563EB;

}

.navbar ul{

display:flex;

gap:35px;

}

.navbar li{

cursor:pointer;

font-weight:600;

transition:.3s;

}

.navbar li:hover{

color:#2563EB;

}