.features{

padding:80px 8%;

text-align:center;

}

.feature-container{

display:flex;

gap:30px;

margin-top:50px;

}

.card{

flex:1;

padding:35px;

background:rgba(255,255,255,.3);

backdrop-filter:blur(20px);

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card svg{

color:#2563EB;

margin-bottom:20px;

}