*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#F5F9FF;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}