.about {
    padding: 80px 10%;
    background: #f8fafc;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    color: #1e3a8a;
    margin-bottom: 30px;
    font-weight: bold;
}

.about p {
    max-width: 900px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    color: #555;
}