
.allocate-btn{

    padding:15px 35px;
    background:#2563EB;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;

}

.allocate-btn:hover{

    background:#1D4ED8;

}

