
.internship-table{
    width:100%;
    border-collapse:collapse;
    margin-top:25px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.internship-table th,
.internship-table td{
    padding:15px;
    border-bottom:1px solid #eee;
    text-align:left;
}

.internship-table th{
    background:#2563EB;
    color:white;
}

.internship-table tr:hover{
    background:#f8f9fa;
}

.search-box{
    width:320px;
    padding:10px;
    margin:20px 0;
    border:1px solid #ddd;
    border-radius:8px;
}

.delete-btn{
    background:#dc3545;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#bb2d3b;
}
