.student-table{
    width:100%;
    border-collapse:collapse;
    margin-top:25px;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

.student-table th,
.student-table td{
    padding:15px;
    border-bottom:1px solid #eee;
    text-align:left;
}

.student-table th{
    background:#2563EB;
    color:white;
}

.search-box{
    width:300px;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    margin:20px 0;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#dc2626;
}