.dashboard-card{
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-card h3{
    color:#666;
    margin-bottom:15px;
}

.dashboard-card h1{
    font-size:35px;
}